<!DOCTYPE html>
<html lang="ru">
<head>
    @await Html.PartialAsync("_MetatagsPartial")
    
    <title>@ViewBag.Title | MyBook — электронная библиотека</title>
    
    @await Html.PartialAsync("_StylesheetsPartial")
</head>

<body>
@await Html.PartialAsync("_HeaderPartial")
@await Html.PartialAsync("_SidebarPartial")
<!-- Вызов модального окна -->
@* <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bd-example-modal-lg">Large modal</button> *@
@await Html.PartialAsync("_ModalPartial")

@RenderBody()

@await Html.PartialAsync("_FooterPartial")

@await Html.PartialAsync("_ScriptsPartial")
@await RenderSectionAsync("Scripts", required: false)
</body>
</html>