@{
    ViewData["Title"] = "Верификация";
    Layout = "_Layout";
}

<main id="content">
    <div class="container">
        <div class="space-bottom-1 space-top-xl-2 space-bottom-xl-4">
            <div class="d-flex flex-column align-items-center pt-lg-7 pb-lg-4 pb-lg-6">
                <h1 class="font-weight-medium font-size-46 text-lh-sm mt-xl-1">Письмо с подтверждением было отправлено на вашу почту</h1>
                <h6 class="font-size-4 font-weight-medium mb-2">Вы можете закрыть эту страницу</h6>
            </div>
        </div>
    </div>
</main>